<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

</head>
<body class="text-center">

<div class="container">
    <div class="row">
        <div class="col-lg">

        </div>
        <div class="col">
            <h2><br>POGODA
                <img th:src="@{/images/sun_clouds.png}" alt="" width="72" height="72"> ONLINE</h2>
            <form action="/" method="post" class="form-signin">
                <input name="cityName" class="form-control" type="text" placeholder="Podaj miasto">
                <div class="checkbox mb-3">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" value="Sprawdź">Sprawdź</button>
            </form>
            <br><br>
            <h4 th:if="${weather != null}">Aktualna pogoda:</h4>
            <table  th:if="${weather != null}" class="table table-hover">
                <thead>
                <tr>
                    <th colspan="2" th:if="${weather != null}" th:text="${weather.getName()}"></th>
                </tr>
                </thead>
                <tr>
                    <td>Temperatura</td>
                    <td th:if="${weather != null}" th:text="${weather.getMain().getTemp()}+' ' +'°C'"></td>
                </tr>
                <tr>
                    <td>Ciśnienie</td>
                    <td th:if="${weather != null}" th:text="${weather.getMain().getPressure()}+' ' +'hPa'"></td>
                </tr>
                <tr>
                    <td>Zachmurzenie</td>
                    <td  th:if="${weather != null}"  th:text="${weather.getClouds().getAll()}+' ' +'%'"></td>
                </tr>
                <tr>
                <td>Wiatr</td>
                <td th:if="${weather != null}"  th:text="${weather.getWind().getSpeed()}+' ' +'m/s'"></td>
            </tr>
                <tr>
                    <td>Cod</td>
                    <td th:if="${weather != null}"  th:text="${weather.getCod()}"></td>
                </tr>
            </table>

            <div class="mt-3">
                <a href="/logout">Wyloguj się</a></div>
            <p class="mt-3 mb-3 text-muted">Akademia Kodu<br>Java Bootcamp Online 8</p>

        </div>
        <div class="col-lg">

        </div>
    </div>
</div>

</body>
</html>